html{
    background: url(http://www.gandex.ru/upl/oboi/u11307_9839_FreeWallpapers121.jpg) center;
    background-size: contain;
    background-attachment: fixed;
    color: red;
}
table{
    background-image: url(depositphotos_88369418-stock-illustration-funny-cartoon-eclair.jpg);
}

#red_q:first-letter{
    color: red;
    font-size: 30px;
}

#q_1{
    color: pink;
    font-size: 30px;
}

#q_2{
    color: lightblue;
}

#q_3{
    color: aquamarine;
}

#wishes:first-letter{
    color: #6573c1;
    font-size: 30px;
}
.list{
    font-weight:900;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 80px;
}
#hlist{
    font-weight:900;
    font-size: 20px;
    padding-left: 80px;
}
.try{
  transform: scale(0.3) rotate(45deg);
  transition: 3s all;
  margin-left: 800px;
  margin-right: 20px;
  padding-left: 30px;
  padding-top: 10px;
  line-height: 25px;
  width: 400px;
  height: 400px;
  background-image: url(https://i.mycdn.me/image?id=573875615342&t=0&plc=WEB&tkn=*ObxogeNxnljaDoWFNhpfqYBjsMk);
  border-left: 5px solid #e7471e;
  border-right: 5px solid #e7471e;
  border-radius: 200px 200px 200px 200px;
  box-shadow: 20px 19px 50px 6px;
  color: fuchsia
}
.try:hover{
    transform: rotate(0deg);
}

#GCF{
    text-decoration: none
}

#GCF:hover{
    color: #4dbecb
}
.pic{
    border-style:solid;
    border-width: 5px;
    border-color: saddlebrown;
    border-radius: 10em
}
#ecler{
    
}
.textarea{
    border-radius: 10px;
    background: #ec0d0d;
    color: black;
    border-color: black;
    border-bottom-width: thick;
}